name: Publish to PyPI

on:
  release:
    types: [created] # Trigger only when a release is created

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        run: pip install uv

      - name: Install build dependencies
        run: uv pip install build

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          uv publish --password-env PYPI_TOKEN
